<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Lista de produto</title>
</head>
<body>

<div>
    <h1>Lista de produtos</h1>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Data de Fabricação</th>
        <th>Novo</th>
        <th></th>
    </tr>
    <tr th:each="prod:${produtos}">
        <td th:text="${prod.nome}"></td>
        <td th:text="${prod.preco}"></td>
        <td th:text="${#temporals.format(p.dataFabricacao, 'dd/MM/yyyy')}"></td>
        <td th:text="${prod.novo?'Sim':'Não'}"></td>
    </tr>
</table>
</div>

</body>
</html>